.popup__container {
    max-width: 430px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000000;
    position: relative;
    padding-bottom: 37px;
}

@media (max-width: 550px) {
    .popup__container{
        max-width: 282px;
        padding-bottom: 25px;
    } 
}